.header {
  margin: auto;
  max-inline-size: 1200px;
}

.header img {
  display: block;
  margin: auto;
  inline-size: 500px;
  /* border: 1px solid red; */
}

.header a {
  display: inline-block;
  font: var(--headline1);
  color: #ffffff;
  margin-block-start: 1rem;
  margin-inline-start: 1rem;
  text-decoration: none;
}

.header a:hover {
  color: var(--gray40);
}
